.sl-menu {
  width: 220px;
}

.menu-option {
  margin-left: var(--space-standard, 8px);
  margin-right: var(--space-standard, 8px);
}

.menu-title {
  margin-left: var(--space-standard, 8px);
  margin-right: var(--space-standard, 8px);
  font-weight: bold;
}

.apply-button {
  margin-top: var(--space-standard, 8px);
  width: 100%;
}

.filter-title {
  cursor: pointer;
}

.filter-title:hover {
  text-decoration: underline;
}
